{% extends 'mailing/base.html' %}

{% block title %}Клиент{% endblock %}

{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Информация о рассылке</h1>
</div>

<div class="container">

    <div class="row">
        <div class="col-9">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Письмо рассылки:</th>
                    <th scope="col"><a href="{% url 'mailing:message_detail' sending.message.pk %}">{{ sending.message }}</a></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Статус рассылки:</td>
                    <td>
                        {% if sending.status == 'created' %}
                        Создана
                        {% elif sending.status == 'started' %}
                        Запущена
                        {% elif sending.status == 'done' %}
                        Завершена
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Начало рассылки:</td>
                    <td>{{ sending.start_time }}</td>
                </tr>
                <tr>
                    <td>Завершение рассылки:</td>
                    <td>{{ sending.end_time }}</td>
                </tr>
                <tr>
                    <td>Получатели:</td>
                    <td>
                        {% for subscriber in sending.subscribers.all %}
                        <a href="{% url 'mailing:subscriber_detail' subscriber.pk %}"><p>{{subscriber }}</p></a>
                        {% endfor %}
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
        <div class="col-3">
            <a href="{% url 'mailing:sending_update' sending.pk %}" class="btn btn-secondary">Редактировать</a>
            <a href="{% url 'mailing:sending_delete' sending.pk %}" class="btn btn-danger">Удалить</a>
        </div>


    </div>
    <form action="{% url 'mailing:send_message' sending.id %}" method="post" class="mb-3">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">Отправить</button>
    </form>
    <a type="button" class="btn btn-lg btn-block btn-outline-primary" href="{% url 'mailing:sending_list' %}">Назад</a>
</div>
{% endblock %}

