{% extends 'mailing/base.html' %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}


<div class="container">
  <h1 class="mb-4">Восстановление пароля</h1>
  {% if messages %}
    <div class="messages">
      {% for message in messages %}
        <div class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% else %}alert-info{% endif %} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    </div>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    <input type="email" name="email" placeholder="Email" required>
    <button type="submit">Сбросить пароль</button>
</form>
</div>
{% endblock %}